@model ProductCategoryViewModel

@{
    Layout = "~/Views/Shared/_SanPhamLayout.cshtml";
}
<div class="page-wrapper">
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">TẤT CẢ SẢN PHẨM<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="toolbox">
                            <div class="toolbox-left">
                                <div class="toolbox-info">
                                    Showing <span>1 of 56</span> Products
                                </div><!-- End .toolbox-info -->
                            </div><!-- End .toolbox-left -->

                            <div class="toolbox-right">
                                <div class="toolbox-sort">
                                    <label for="sortby">Sort by:</label>
                                    <div class="select-custom">
                                        <select name="sortby" id="sortby" class="form-control">
                                            <option value="popularity" selected="selected">Most Popular</option>
                                            <option value="rating">Most Rated</option>
                                            <option value="date">Date</option>
                                        </select>
                                    </div>
                                </div><!-- End .toolbox-sort -->
                                <div class="toolbox-layout">
                                    <a href="category-list.html" class="btn-layout">
                                        <svg width="16" height="10">
                                            <rect x="0" y="0" width="4" height="4" />
                                            <rect x="6" y="0" width="10" height="4" />
                                            <rect x="0" y="6" width="4" height="4" />
                                            <rect x="6" y="6" width="10" height="4" />
                                        </svg>
                                    </a>

                                    <a href="category-2cols.html" class="btn-layout">
                                        <svg width="10" height="10">
                                            <rect x="0" y="0" width="4" height="4" />
                                            <rect x="6" y="0" width="4" height="4" />
                                            <rect x="0" y="6" width="4" height="4" />
                                            <rect x="6" y="6" width="4" height="4" />
                                        </svg>
                                    </a>

                                    <a href="category.html" class="btn-layout">
                                        <svg width="16" height="10">
                                            <rect x="0" y="0" width="4" height="4" />
                                            <rect x="6" y="0" width="4" height="4" />
                                            <rect x="12" y="0" width="4" height="4" />
                                            <rect x="0" y="6" width="4" height="4" />
                                            <rect x="6" y="6" width="4" height="4" />
                                            <rect x="12" y="6" width="4" height="4" />
                                        </svg>
                                    </a>

                                    <a href="category-4cols.html" class="btn-layout active">
                                        <svg width="22" height="10">
                                            <rect x="0" y="0" width="4" height="4" />
                                            <rect x="6" y="0" width="4" height="4" />
                                            <rect x="12" y="0" width="4" height="4" />
                                            <rect x="18" y="0" width="4" height="4" />
                                            <rect x="0" y="6" width="4" height="4" />
                                            <rect x="6" y="6" width="4" height="4" />
                                            <rect x="12" y="6" width="4" height="4" />
                                            <rect x="18" y="6" width="4" height="4" />
                                        </svg>
                                    </a>
                                </div><!-- End .toolbox-layout -->
                            </div><!-- End .toolbox-right -->
                        </div><!-- End .toolbox -->

                        <div class="products mb-3">
                            <div class="row justify-content-center">
                                @foreach (var product in Model.Products)
                                {
                                    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="@product.Hinh" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable">
                                                        <span>add to wishlist</span>
                                                    </a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view">
                                                        <span>Quick view</span>
                                                    </a>
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                        <span>Compare</span>
                                                    </a>
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    <a asp-controller="SanPham" asp-action="Details" asp-route-id="@product.Masp" class="btn-product btn-cart">
                                                        <span>add to cart</span>
                                                    </a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <h3 class="product-title">
                                                    <a href="product.html">@product.Tensp</a>
                                                </h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    @product.Giaban
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div>

                                    <!-- End .col-6 col-md-4 col-lg-4 col-xl-3 -->
                                }
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <ul class="pagination">
                                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                    <a class="page-link" href="?page=@(Model.PageNumber - 1)">Previous</a>
                                </li>

                                @for (int i = 1; i <= Math.Ceiling(Model.TotalProducts / (double)Model.PageSize); i++)
                                {
                                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                        <a class="page-link" href="?page=@i">@i</a>
                                    </li>
                                }

                                <li class="page-item @(Model.PageNumber == Math.Ceiling(Model.TotalProducts / (double)Model.PageSize) ? "disabled" : "")">
                                    <a class="page-link" href="?page=@(Model.PageNumber + 1)">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!-- End .row -->
                    <!-- End .products -->



                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar sidebar-shop">
                            <div class="widget widget-clean">
                                <label>Filters:</label>
                                <a href="#" class="sidebar-filter-clear">Clean All</a>
                            </div><!-- End .widget widget-clean -->
                            @using (Html.BeginForm("FilterProducts", "Product", FormMethod.Post))
                            {
                                <div class="widget widget-collapsible">
                                    <h3 class="widget-title">
                                        <label data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                            Category
                                        </label>
                                    </h3>
                                    <div class="collapse show" id="widget-1">
                                        <div class="widget-body">
                                            <div class="filter-items filter-items-count">
                                                <div class="filter-item">
                                                    <div class="custom-control custom-checkbox">
                                                        <div class="category-large" id="category-large1">
                                                            <label for="allCategories1" class="bold-text">Điện thoại</label> 
                                                        </div>
                                                        <div class="category-small" id="category-small1" style="display: none;">
                                                            @foreach (var category in Model.Categories)
                                                            {
                                                                @if (category.IdDanhmuc > 1 && category.IdDanhmuc <= 7)
                                                                {
                                                                    <div>
                                                                        <input type="checkbox" name="categoryId" value="@category.IdDanhmuc" id="category_@category.IdDanhmuc">
                                                                        <label for="category_@category.IdDanhmuc">@category.Tendanhmuc</label>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <div class="category-large" id="category-large2">
                                                            <label for="allCategories2" class="bold-text">Laptop</label> 
                                                        </div>
                                                        <div class="category-small" id="category-small2" style="display: none;">
                                                            @foreach (var category in Model.Categories)
                                                            {
                                                                @if (category.IdDanhmuc > 8 && category.IdDanhmuc <= 12)
                                                                {
                                                                    <div>
                                                                        <input type="checkbox" name="categoryId" value="@category.IdDanhmuc" id="category_@category.IdDanhmuc">
                                                                        <label for="category_@category.IdDanhmuc">@category.Tendanhmuc</label>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>                                                    
                                                    <div class="custom-control custom-checkbox">
                                                        <div id="category-container">
                                                            <div class="category-large" id="category-large3">
                                                                <label for="allCategories" class="bold-text">Máy tính bảng</label> 
                                                            </div>
                                                            <div class="category-small" id="category-small3" style="display: none;">
                                                                @foreach (var category in Model.Categories)
                                                                {
                                                                    @if (category.IdDanhmuc > 1012 && category.IdDanhmuc <= 1015)
                                                                    {
                                                                        <div>
                                                                            <input type="checkbox" name="categoryId" value="@category.IdDanhmuc" id="category_@category.IdDanhmuc">
                                                                            <label for="category_@category.IdDanhmuc">@category.Tendanhmuc</label>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <div id="category-container">
                                                            <div class="category-large" id="category-large4">
                                                                <label for="allCategories" class="bold-text">Đồng hồ thông minh</label> 
                                                            </div>
                                                            <div class="category-small" id="category-small4" style="display: none;">
                                                                @foreach (var category in Model.Categories)
                                                                {
                                                                    @if (category.IdDanhmuc > 1016 && category.IdDanhmuc <= 1019)
                                                                    {
                                                                        <div>
                                                                            <input type="checkbox" name="categoryId" value="@category.IdDanhmuc" id="category_@category.IdDanhmuc">
                                                                            <label for="category_@category.IdDanhmuc">@category.Tendanhmuc</label>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <div id="category-container">
                                                            <div class="category-large" id="category-large5">
                                                                <label for="allCategories" class="bold-text">Đồ gia dụng</label> 
                                                            </div>
                                                            <div class="category-small" id="category-small5" style="display: none;">
                                                                @foreach (var category in Model.Categories)
                                                                {
                                                                    @if (category.IdDanhmuc > 1020 && category.IdDanhmuc <= 1023)
                                                                    {
                                                                        <div>
                                                                            <input type="checkbox" name="categoryId" value="@category.IdDanhmuc" id="category_@category.IdDanhmuc">
                                                                            <label for="category_@category.IdDanhmuc">@category.Tendanhmuc</label>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <div id="category-container">
                                                            <div class="category-large" id="category-large6">
                                                                <label for="allCategories" class="bold-text">Phụ kiện</label> 
                                                            </div>
                                                            <div class="category-small" id="category-small6" style="display: none;">
                                                                @foreach (var category in Model.Categories)
                                                                {
                                                                    @if (category.IdDanhmuc > 1024 && category.IdDanhmuc <= 1028)
                                                                    {
                                                                        <div>
                                                                            <input type="checkbox" name="categoryId" value="@category.IdDanhmuc" id="category_@category.IdDanhmuc">
                                                                            <label for="category_@category.IdDanhmuc">@category.Tendanhmuc</label>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit" class="custom-button">
                                                            Filter
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </main>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        // Bắt sự kiện click trên mục lớn 1
        $('#category-large1').on('click', function () {
            $('#category-small1').slideToggle();
        });

        // Bắt sự kiện click trên mục lớn 2
        $('#category-large2').on('click', function () {
            $('#category-small2').slideToggle();
        });
        $('#category-large3').on('click', function () {
            $('#category-small3').slideToggle();
        });

        $('#category-large4').on('click', function () {
            $('#category-small4').slideToggle();
        });

        $('#category-large5').on('click', function () {
            $('#category-small5').slideToggle();
        });
        $('#category-large6').on('click', function () {
            $('#category-small6').slideToggle();
        });
        
    });
    </script>
}

